/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* svg style start */
body{
  font-family: "Helvetica Neue"
}

h2{
  font-weight: normal;
  margin: 0;
}

.chart{
  width: 900px;
  height: 450px;
  border-radius: 8px;
  overflow: hidden;
}

.chart__header{
  position: relative;
  background: #8eba45;
  color: #fff;
  padding: 0 5px;
}

.chart__icon{
  position: absolute;
  font-size: 25px;
  right: 5px;
  top: 0;
}

.chart__content{
  background: #b6e356;
}

.chart__line{
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}

.chart__circle{
  fill: #fff;
  radius: 5px;  
}

.chart__pie{
  stroke: #000;
  stroke-width: 2px;
}

